@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font: 1.37rem 'Poppins', sans-serif;
  height: 100vh;
  margin: 0;
}
p::selection{
  background-color: rgb(255, 145, 0);
}
h3::selection{
  background-color: rgb(255, 145, 0);
}
h2::selection{
  background-color: rgb(255, 145, 0);
}
h1::selection{
  background-color: rgb(255, 145, 0);
}

.App {
  padding: 5rem;
  .header{
    position: fixed;
    transform: translateY(-5rem);
    background-color: white;
    width: 100%;
  }
  .main{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    h1{
      font-size: 12rem;
      @media (max-width: 600px){
        font-size: 5rem;
      }

    }
  }
  .section{
    margin-top: 10.5rem;
    display: flex;
    flex-wrap: wrap;
    .section-title{
      flex-grow: 1;
      max-width: 35rem;
      h2{
        margin: 0;
      }

    }
    .section-items{
      flex-grow: 3;
      .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: solid .3px rgb(175, 175, 175);
        padding: 3.5rem;
        color: rgb(22, 22, 22);
        a{
          text-decoration: underline;
          color: black;
          h3{
            font-weight: bold;
            color: black;
          }
        }
        .content{
          max-width: 60rem;
          line-height: 3.3rem;
        }
      }
    }
  }
}
.footer{
  .text-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    margin: 2.6rem;
  }
}
img{
  height: 40rem;
}



