$font: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

$white: #fff;
$black: #000;
$maroon: #b2c7c7;
$soft-white: #f2f4f5;

html, body{
  font-family: $font !important;
  font-size: 16px;
  color: $white !important;
  background: #0d0d0d !important;
}

h1::selection, p::selection{
  background: $maroon;
  color: $soft-white;
}

/*.container{
  width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  @media (max-width: 1440px) {
      width: 1280px;
      min-width: 1280px;
  }
  @media (max-width: 1280px) {
      width: 976px;
      min-width: 976px;
  }
  @media (max-width: 976px) {
      width: 768px;
      min-width: 768px;
  }
}*/
 
header{
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .logo{
    font-weight: 900;
  }
}
.main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20vh;
  p{
    letter-spacing: 17px;
    color: #3d4144;
    
  }
  h1{
    font-weight: 500;
    letter-spacing: 25px;
    line-height: 50px;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
  }

}

.footer{
  background-color: $black;
  margin-top: 10vh;
  .wrapper{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px 0;
    span{
      margin-left: 40px;
    }
  }
}
img{
  color: #fff;
  height: 1.2rem;
  margin-right: 10px;
  width: auto;
  @media (max-width: 600px){
    width: 15px;
    margin: 10px;
    height: auto;
  }
}

.locations {
  position: absolute;
  margin-top: 90vh;
  margin-left: -50%;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  span {
    &:first-child {
      margin-left: 64px;
      @media (max-width: 600px){
        margin-left: 50px;
      }
    }
    font-weight: 400;
    margin: 0 32px;
    transition: 0.3s ease-in-out;
    @media (max-width: 600px){
      margin: 0 5px;
    }
  }
}

a{
  color: $white !important;
  text-decoration: none !important;
}
button{
  all: unset;
  border:$white 1px solid;
  padding: 8px 15px;
  font-size: .8rem !important;
  letter-spacing: 0.2rem;
  margin: 20px 0 !important;
}

.active{
  color: #3d4144 !important;
}

.menu-city-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  z-index: -1;
}

.grid{
  height: 100vh;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  position: absolute;
  z-index: 10;
  a {
    margin: 0 28px;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .section-items{
    max-width: 900px;
    .parallax{
      background-image: url('./images/nB.jpg');
      background-attachment: fixed;
      background-repeat: no-repeat;
      height: 600px;
      width: 1000px;
      background-size: contain;
      opacity: .3;
      position: relative;
      background-position: center;
      @media (max-width: 600px){
        background-position: top;
      }
    }
    .item{
      line-height: 40px;
      font-size: 1.8rem;
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      .content{   
        position: absolute;   
        margin-top: -400px;
        @media (max-width: 600px){
          max-width: 250px;
          margin-left: 300px;
          margin-top: -500px;
        }
        h3{
          margin-bottom: 2.5rem;
        }
      }
    }
  }
}

.custom-switch, .custom-control{
  padding: 0px !important;
}



